
#chaojing{font-size: 0;padding: 4% 2%;}
#chaojing .item{display: inline-block;width: 33.333333%;padding: 0 2%;margin-bottom: 4%;position: relative;}
#chaojing .item img{width: 100%;display: block;}
#chaojing .item span{
	position: absolute;display: block;
	width: 19.78%;color: #f4ed8d;
	z-index: 2;
	font-size: 0.28rem;
	left: 44.11%;
	top: 23.77%;
	text-align: center;
}
