@import url("../fonts/iconfont.css");
body{color: #333;line-height: 1.5;position: relative;width: 100%;max-width: 750px;
min-width: 320px;margin: 0 auto;}
/*文字*/
.font-biger{font-size: 0.36rem;}
.font-big{font-size: 0.3rem;}
.font-normal{font-size: 0.28rem;}
.font-small{font-size: 0.24rem;}
.font-smaller{font-size: 0.2rem;}
.read-more{float: right;margin: 0;}
/*标签、阅读数*/
.tags{display: inline-block;}
.tags span{display: inline-block;background-color: #ff5d5e;color: #fff;padding: 0.02rem 0.12rem;
border-radius: 0.06rem;margin-right: 0.1rem;}
.read-num{float: right;display: inline-block;}
.read-num span{background-color: #adc0cd;color: #f1f1f1;}

/*小图标*/
.meta-info i{font-size: 0.24rem;margin: 0 0.1rem;color: #5d77ff;}

.myblock{background: #fff;box-shadow: 0 0px 2px #ccc;padding: 0.22rem 0.3rem;}


/*重置mui样式*/
.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: 0.2rem;
}