@import url("../fonts/iconfont.css");
body{color: #333;line-height: 1.5;position: relative;width: 100%;max-width: 750px;
min-width: 320px;margin: 0 auto;}
/*文字*/
.font-biger{font-size: 0.36rem;}
.font-big{font-size: 0.3rem;}
.font-normal{font-size: 0.28rem;}
.font-small{font-size: 0.24rem;}
.font-smaller{font-size: 0.2rem;}

::-webkit-scrollbar{
  display:none;
}
/*编辑器样式重置*/
.bianjiqi{width: 100%;overflow: auto!important;}
.bianjiqi p,.bianjiqi span,.bianjiqi i,.bianjiqi b,.bianjiqi div,.bianjiqi strong,.bianjiqi em{font-size: 0.28rem;}
.bianjiqi img{max-width: 100%;}
.read-more{float: right;margin: 0;}
.read-more i{font-size: 0.28rem;}
/*按钮*/
button{
	padding: .2rem .8rem;
	border: 1px solid rgba(0,0,0,.1);
	background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent); 
	border-radius: .2rem;
	box-shadow: 0 .05rem .15rem rgba(0,0,0,.5);
	color: white;
	text-shadow: 0 -.05rem .05rem rgba(0,0,0,.5);
	font-size: 0.3rem;
}
/*标签、阅读数*/
.tags{display: inline-block;}
.tags span{display: inline-block;background-color: #ff5d5e;color: #fff;padding: 0.02rem 0.12rem;
border-radius: 0.06rem;margin-right: 0.1rem;}
.read-num{float: right;display: inline-block;}
.read-num span{background-color: #adc0cd;color: #f1f1f1;}

/*小图标*/
.meta-info i{font-size: 0.24rem;margin: 0 0.1rem;color: #5d77ff;}

.myblock{background: #fff;box-shadow: 0 0px 2px #ccc;padding: 0.22rem 0.3rem;}


/*重置mui样式*/
.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: 0.2rem;
}
/*占位图*/
.timeline-item {
   background: #fff;
   border: 1px solid;
   border-color: #e5e6e9 #dfe0e4 #d0d1d5;
   border-radius: 3px;
   padding: 0px 15px;
   margin: 0 auto;
   max-width: 472px;
}


@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 108px;
    position: relative;
}


.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top{
    top: 0;
    left: 0px;
    right: 0;
    height: 11px;
}

.background-masker.header-left{
    top: 11px;
    left: 120px;
    height: 86px;
    width: 10px;
}

.background-masker.header-bottom,
.background-masker.header-right,
.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 22px;
    height: 10px;
    left: 130px;
    right: 0;
}
.background-masker.header-bottom{
	 top: 43px;
}

.background-masker.subheader-left{
	top: 64px;
}

.background-masker.subheader-right {
    top: 85px;
    height: 12px;
}
.background-masker.subheader-top{
	top: 74px;
	height: 21px;
	left: 130px;
	width: 160px;
}
.background-masker.subheader-bottom {
    bottom: 0;
    height: 11px;
    left: 0;
    right: 0;
}
.mui-toast-container {top: 50% !important;transform: translateY(-50%);}
.mui-toast-message {background: url(images/toast.png) no-repeat center 10px #000; opacity: 0.6; color: #fff; width: 180px; padding: 70px 5px 10px 5px;}
