<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../common/mui.min.css" />
	<link rel="stylesheet" type="text/css" href="../../common/common.css" />
	<link rel="stylesheet" type="text/css" href="question.css" />

<style>
	   .mui-pull-caption {
                background-image: url(../../audio.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 144px;
                height: 31px;
                font-size: 0px;
            }
            /*下拉刷新圆形进度条的大小和样式*/

            .mui-spinner {
                width: 32px;
                height: 32px;
            }
            .mui-spinner:after {
                background-image: url(../../images/jump.gif);
            }
            /*下拉刷新的箭头颜色*/

            .mui-icon-pulldown {
                color: #FF058B;
            }
</style>

</head>

<body style="background: #fff;">

	<div class="pinglun" id="home">
		<div v-for="load in loades" v-if="!loading" class="timeline-item">
		    <div class="animated-background">
			    <div class="background-masker header-top"></div>
			    <div class="background-masker header-left"></div>
			    <div class="background-masker header-right"></div>
			    <div class="background-masker header-bottom"></div>
			    <div class="background-masker subheader-top"></div>
			    <div class="background-masker subheader-left"></div>
			    <div class="background-masker subheader-right"></div>
			    <div class="background-masker subheader-bottom"></div>
			</div>
	 	</div>
		<ul>
			<li v-for="item in list">
				<div class='touxiang'>
					<img :src="item.user_avatar">
				</div>
				<div class="neirong">
					<div class="neitit">
						<a>
							<i class="iconfont">&#xe637;</i>
						</a>
						<div class="ming">
							<span>{{item.user_name}}</span>
							<i>{{item.add_time}}</i>
						</div>
					</div>
					<a class="pinwen" :new-id="item.id" :new-username="item.user_name" :new-addtime="item.add_time" :new-comment="item.comment" :new-zan="item.zan" :new-cai="item.cai" :src="item.user_avatar" @tap="openDetail($event)">
						<p>{{item.content}}</p>
					</a>
					<div class="xuanpic">
						<a href="#">
							<i class="iconfont">&#xe681;</i>
							<b>{{item.comment}}</b>
						</a>
						<span :new-id="item.id" @tap="Zan($event)">
							<i class="iconfont" >&#xe60d;</i>
							<b>{{item.zan}}</b>
						</span>
						<span :new-id="item.id" @tap="Cai($event)">
							<i class="iconfont" >&#xe635;</i>
							<b>{{item.cai}}</b>
						</span>
					</div>
				</div>
			</li>


		</ul>
		<a @tap="openMsgDetail($event)" class="tianxie">
			<i class="iconfont">&#xe66b;</i>
		</a>
	</div>

	
</body>

</html>

<script src="../../common/jquery-2.1.0.js"></script>
<script src="../../common/mui.min.js"></script>
<script src="../../common/common.js"></script>
<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../common/ajax.js"></script>


<script type="text/javascript">
	mui.init();
		/**
		 * 下拉刷新具体业务实现
		 */
		function pulldownRefresh() {
			setTimeout(function() {
				location.reload();
			}, 1500);
		}
		
	 //返回刷新页面
	 window.addEventListener('shuaxin', function (e) { //执行刷新
	 	location.reload();

	 });
</script>

<script type="text/javascript">
	// window.onload = function(){
	// //获取留言列表数据

	var homes = new Vue({
		el: '#home',
		data: {
			list: [],
			loading: false,
			loades: 10
		},
		methods: {
			openDetail: function (event) {
				var el = event.currentTarget;
				var guid = el.getAttribute('new-id');
				var user_avatar = el.getAttribute('src')
				var content = el.querySelector("p").innerHTML.trim();
				var comments = el.getAttribute('new-comment');
				var zan = el.getAttribute('new-zan');
				var cai = el.getAttribute('new-cai');
				var time = el.getAttribute('new-add_time');
				var user_name = el.getAttribute('new-username');


				titleNView1.titleText = "详情";
				mui.openWindow({
					url: '../question/question_xq.html',
					id: 'outlink',
					extras: {
						guid: guid,
						user_avatar: user_avatar,
						content: content,
						comments: comments,
						zan: zan,
						cai: cai,
						time: time,
						user_name: user_name
					},
					styles: {
						"titleNView": titleNView1
					}
				})
				// }
			},
           //点赞
			Zan: function (event) 
			{
				var el = event.currentTarget;
				var guid = el.getAttribute('new-id');
               
			
			mui.ajax(httpUrl+'action=zan_cai_article&article_id=' + guid+ '&type=zan', {
				type: 'GET',
				success: function (rsp) {
				

				},
				error: function (xhr, type, errorThrown) {
					mui.toast('操作失败！，请稍后再试！');
				}
			});
			},
			 //踩
			 Cai: function (event) 
			{
				var el = event.currentTarget;
				var guid = el.getAttribute('new-id');
              
			
			mui.ajax(httpUrl+'action=zan_cai_article&article_id=' + guid+ '&type=cai', {
				type: 'GET',
				success: function (rsp) {
				


				},
				error: function (xhr, type, errorThrown) {
					mui.toast('操作失败！，请稍后再试！');
				}
			});
			},

			openMsgDetail: function (event) {
				titleNView1.titleText = "我的感悟";
				mui.openWindow({
					url: '../question/question_tw.html',
					id: 'question_tw',
					waiting: {
						autoShow: false, //自动显示等待框，默认为true
					},
					show: {
						"aniShow": "zoom-out"
					},
					styles: {
						"bounce": "vertical",
						"bounceBackground": "#efeff4",
						"titleNView": titleNView1
					}
				})
			}
		},
		mounted: function () {			
			$(".pinglun").on('tap', '.xuanpic span', function () {
				if ($(this).hasClass('yijing')) {
					var zhi = parseInt($(this).find("b").text());
					zhi--;
					$(this).find("b").text(zhi);
					$(this).removeClass('yijing');
				} else {
					var zhi = parseInt($(this).find("b").text());
					zhi++;
					$(this).find("b").text(zhi);
					$(this).addClass('yijing');
				}

			})

		}

	});


	ajax_feedback_list({
		top: 10
	});




	



	//请求成功后事件
	function FeedbacklistSuccess(data) {
		homes.list = JSON.parse(data.list);
		for (var i = 0; i < homes.list.length; i++) {
			homes.list[i].add_time = getDateDiff(homes.list[i].add_time);
		};
		homes.loading=true;
	}
</script>