

.swiper-container2 .swiper-wrapper{}
.swiper-container2 .swiper-slide{
	height: 23vw;
	box-shadow: 4px 4px 6px #ccc;
	border-radius: 8px;
}

.h_title{font-size: 0.32rem;color: #FF4500;margin:0.2rem 0 0 0;position: relative;background: #fff;padding: 0.22rem 0.3rem;}
.h_title span{margin-right: 0.1rem;color: #FF4500;margin-top: 0.02rem;}
/*图标*/
.topicon{padding: 3%;background-color: #fff;box-shadow: 0 0px 2px #ccc;position: relative;z-index: 999;}
.topherf{display: block;position: relative;padding: 0.06rem 0;float: left;width: 20%;}
.topherf img{display: block; width: 0.8rem;height: 0.8rem;margin: auto;}
.topherf p{font-size: 0.22rem;margin: 0;text-align: center;color: #282828;line-height: 2;}

/*新闻列表*/

.mui-table-view-cell:after{right:15px;}

.mui-table-view .mui-media-object {
	max-width: initial;
	width: 1.8rem;
	height: 1.4rem;
	border-radius: 0.1rem;
}

.meta-info {
	position: absolute;
	left: 2.3rem;
	right: 0.3rem;
	bottom: 0.16rem;
	color: #8f8f94;
}

.meta-info .author,.meta-info .time{
	display: inline-block;
}

.meta-info .time{
	float: right;
}

.mui-table-view:before,
.mui-table-view:after {
	height: 0;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 1px;
}
.new-title{font-weight: bold;}
.home-news ul{box-shadow: 0 0px 2px #ccc;}
/*底部*/
.tem_footer{position:relative;padding:4% 0 2% 0;background:#303030;color:#fff; text-align:center;font-size:12px;}
.tem_inner{padding:0 0.3rem;}
.tem_footer_text{ margin-top:0.3rem;border-top:1px solid #999;line-height: 1.414;}
.tem_footer_text p{font-size:0.24rem;color: #999;}
