
.mui-scroll-wrapper{
	height: 29vw!important;	
	height: -webkit-calc(23vw + 0.44rem)!important;
	height: calc(23vw + 0.44rem)!important;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
    height: 23vw;
}
.scroll-slide{
	display: inline-block;
	margin-right: 0.3rem;
	width: 32vw;
	height: 23vw;
	box-shadow: 4px 4px 6px #ccc;
	border-radius: 8px;
}

.h_title{font-size: 0.32rem;color: #FF4500;margin:0.2rem 0 0 0;position: relative;background: #fff;padding: 0.22rem 0.3rem;}
.h_title span{margin-right: 0.1rem;color: #FF4500;margin-top: 0.02rem;}
/*图标*/
.topicon{padding: 3%;background-color: #fff;box-shadow: 0 0px 2px #ccc;position: relative;z-index: 999;}
.topherf{display: block;position: relative;padding: 0.06rem 0;float: left;width: 20%;}
.topherf img{display: block; width: 0.8rem;height: 0.8rem;margin: auto;}
.topherf p{font-size: 0.22rem;margin: 0;text-align: center;color: #282828;line-height: 2;}

/*新闻列表*/

.mui-table-view-cell:after{right:15px;}

.mui-table-view .mui-media-object {
	max-width: initial;
	width: 1.8rem;
	height: 1.4rem;
	border-radius: 0.1rem;
}

.meta-info {
	position: absolute;
	left: 2.3rem;
	right: 0.3rem;
	bottom: 0.16rem;
	color: #8f8f94;
}

.meta-info .author,.meta-info .time{
	display: inline-block;
}

.meta-info .time{
	float: right;
}

.mui-table-view:before,
.mui-table-view:after {
	height: 0;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 1px;
}
.new-title{font-weight: bold;}
.home-news ul{box-shadow: 0 0px 2px #ccc;}
/* 高僧解惑 */
#jiehuo{
	font-size: 0.26rem;
	display: flex;
	overflow: hidden;
	flex-wrap:wrap;
	justify-content:space-around;
	letter-spacing: 2px;
	line-height: 1.5;
	padding: 0.22rem 0.3rem;
}
.jh-item{
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	height: 5.6rem;
	box-shadow: 0 2px 6px #808080;
	border-radius: 10px;
	overflow: hidden;
	background: url(../../images/zhu.png) no-repeat;
	background-size: cover;
}
.jh-wen{
	position: relative;
	width: 1.18rem;overflow: hidden;
	color: #ffffff;
	background: rgba(255, 60, 0, 0.6);
	padding: 1rem 0.2rem 1rem 0;
	font-weight: bold;
	font-size: 0.28rem;
}
.jh-da-wrap{
	width: 2.06rem;overflow: hidden;
	padding: 0.22rem 0.2rem 0.22rem;
	background: rgba(255,241,230,0.6);	
}
.jh-da{
	width: 1.66rem;overflow: hidden;
	color: #000;
}
.huo{
	position: absolute;top: 0.2rem;right: 0.3rem;
	font-size: 0.36rem;display: block;
	width: 0.6rem;height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	color:#ff4500;
}
.huo:after{
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-radius: 50%;
	position: absolute;
	left: 0;top: 0;
	-webkit-animation: xuanzhuan 2s linear infinite;
	animation: xuanzhuan 2s linear infinite;
}
@-webkit-keyframes xuanzhuan{
	from{
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	to{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}
@keyframes xuanzhuan{
	from{
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	to{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}
/*底部*/
.tem_footer{position:relative;padding:4% 0 2% 0;background:#303030;color:#fff; text-align:center;font-size:12px;}
.tem_inner{padding:0 0.3rem;}
.tem_footer_text{ margin-top:0.3rem;border-top:1px solid #999;line-height: 1.414;}
.tem_footer_text p{font-size:0.24rem;color: #999;}
