html,body,#vue{height: 100%;}

p{margin: 0;text-align: center;color: #333;font-size: 0.28rem;}
.iconfont{font-size: 0.36rem;}
#vue{position: relative;}
#vue .bg{background: url(master-bg.jpg) no-repeat;background-size: cover;width: 100%;height: 100%;position: absolute;top: 0;left: 0;filter: blur(6px);}
.biaoti{color: #fff;text-align: center;
    position: relative;font-size: 0.40rem;
    line-height: 2;
	text-shadow: 0 1px 0 #ccc,  
	               0 2px 0 #c9c9c9,  
	               0 3px 0 #bbb,  
	               0 4px 0 #b9b9b9,  
	               0 5px 0 #aaa,  
	               0 6px 1px rgba(0,0,0,.1),  
	               0 0 5px rgba(0,0,0,.1),  
	               0 1px 3px rgba(0,0,0,.3),  
	               0 3px 5px rgba(0,0,0,.2),  
	               0 5px 10px rgba(0,0,0,.25),  
	               0 10px 10px rgba(0,0,0,.2),  
	               0 20px 20px rgba(0,0,0,.15);  
}
#master{
	height: 1.66rem;
	padding: 0.44rem 0.3rem;
}
#master img{
	border-radius: 50%;
    width: 1rem;height: 1rem; 
    margin: auto;   
    display: block;
}
#master .swiper-slide-active img{
	/*border: 2px solid orangered;*/
	box-shadow: 0 0 0.2rem orangered;
}
#brief{/*background: rgba(40,40,40,0.7);*/height: calc(90% - 1.66rem);}
#brief .swiper-slide{
	height: 78%;
	margin-top: 5vh;
	-webkit-perspective: 800px;
    -moz-perspective: 800px;
}
#brief .swiper-slide > div{
	position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
	border-radius: 12px;
	box-shadow: 0 .05rem .25rem 0.1rem #ccc;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transition: .8s ease-in-out ;
    -moz-transition:  .8s ease-in-out ;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.brief-avatar{
	background-color: #f7f7f7;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    z-index: 2;
    padding: 0.22rem 0.3rem;
}
.brief-avatar img{
	border-radius: 50%;
    width: 2rem;height: 2rem; 
    margin:0.22rem auto;   
    display: block;
}
.brief-avatar h4{color: #333;text-align: center;font-size: 0.32rem;line-height: 1.5;}
.brief-avatar p.zhaiyao{color: #8f8f91;height:1.26rem;overflow: hidden;font-size: 0.28rem;}
.icon-group{font-size: 0;padding: 5% 0;}
.icon-group .icon-item{display: inline-block;width: 33.3333333%;}
.icon-group .icon-item p{font-size: 0.32rem;}
.learn-more{display: block;margin:0.1rem auto;background-color: #FF4500;font-weight: bold;}

.brief-info{
	background:#FBFBEA;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    z-index: 1;
    padding: 0.22rem 0.3rem;   
}

.brief-tap .brief-avatar{
	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}
.brief-tap .brief-info{
	-webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}